extends table

block content
    .ui.three.steps
        a.step.active(href="/regprecise/genomes")
            .content
                .title Genome
                .description Select a Genome
        .step.disabled
            .content
                .title Regulon
                .description Select a Regulon
        .step.disabled
            .content
                .title Regulog Graph
                .description Network of selected Regulon

    table.ui.single.line.compact.sortable.selectable.table
        thead
            tr
                th RegPrecise ID
                th TaxID
                th Name
                th RNA Regulons
                th RNA Sites
                th TF Regulons
                th TF Sites
        tbody
            each genome in genomes
                tr(onclick=`window.location="/regprecise/regulons?genomeId=${genome.genomeId}"`)
                    td= genome.genomeId
                    td= genome.taxonomyId
                    td= genome.name
                    td= genome.rnaRegulonCount
                    td= genome.rnaSiteCount
                    td= genome.tfRegulonCount
                    td= genome.tfSiteCount