extends table

block content
    .ui.three.steps
        a.step.completed(href="/regprecise/genomes")
            .content
                .title= genome.name
                .description Selected Genome
        a.step.active(href=`/regprecise/regulons?genomeId=${genome.genomeId}`)
            .content
                .title Regulon
                .description Select a Regulon
        .step.disabled
            .content
                .title Regulog Graph
                .description Network of selected Regulon

    table.ui.single.line.compact.sortable.selectable.table
        thead
            tr
                th Regulog ID
                th Regulon ID
                th Regulation Type
                th Regulator Family
                th Regulator Name
                th Pathway
        tbody
            each regulon in regulons
                tr(onclick=`window.location="/regprecise/graph?regulonId=${regulon.regulonId}"`)
                    td= regulon.regulogId
                    td= regulon.regulonId
                    td= regulon.regulationType
                    td= regulon.regulatorFamily
                    td= regulon.regulatorName
                    td= regulon.effector